:host {
  display: block;

  ion-item {
    --border-width: 1px 0 0 0;
    --inner-padding-end: 0;

    ion-segment {

      margin-top: -2px !important;
      @media (min-width: 768px) {
        width: 60%;
        margin: 0 auto;
      }

      ion-segment-button {
        width: calc(100% / 3);
        --ripple-color: transparent;
      }

      ion-segment-button::part(indicator) {
        top: 0;
      }
    }
  }

}
